{% extends "layout.html" %}

{% block title %}
    <title>Search Engine</title>
{% endblock %}

{% block main %}
    
    <div class="search-result">  
        <h2 style="width:100%;text-align:center;">SEARCH ENGINES DD2477</h2>
    </div>
    <div  class ="search-wrap--home" >
        <form action="/search" method="post">
            <!-- <label for="search_query">Search:</label> -->
            <!-- <input type="text" id="search_query" name="query"> -->
            <input type="text" name="query"  id="search_form_input" class="search__input--adv js-search-input",autocomplete ="on" autocorrect="on">

            <button class = "search-button search-button:hover search__input--adv1" type="submit">Search</button>
        </form>
    </div>
    
{% endblock %}